* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Index, Discover page css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #f5f5f5;
}

header {
    background-color: #646F58;
    color: #f5f5f5;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    padding: 2rem;
}

header img {
    height: auto
}

nav {
    background-color: #464f3d;
    width: 100%;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: .75rem 1vw;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ul li {
    margin: 0.5rem;
}

nav ul li a {
    display: block;
    color: #fff;
    padding: .5rem;
    text-decoration: none;
}

.active a {
    background-color: #515947;
}

ul.menuLinks {
    display: none;
    list-style-type: none;
}

ul.menuLinks.open {
    display: block;
}

#myButton {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: .5rem 2vw;
}

#myButton.open::before {
    content: "";
}

main {
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: start;
    width: 95%;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-top: 1rem;
}


/* Discover only css */
.discover {
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: start;
    width: 95%;
}

.card2 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-top: 1rem;
}

.sidebar {
    order: 1;
}

.image {
    order: 2;
}

.hover {
    margin: 1rem;
}


/* Index, discover, all page css */
h1 {
    padding: 1rem;
    color: #fff;
    background-color: #646F58;
    text-align: center;
}

h2 {
    font-weight: 700;
    padding: 1rem;
    color: #fff;
    background-color: #646F58;
    border-radius: 6px;
}

h3 {
    color: #fff;
    background-color: #464f3d;
    padding: .5rem;
    margin-top: 1rem;
    border-radius: 4px;
}

section ul {
    list-style-type: none;
    padding: .5rem;
    margin-top: 1rem;
}

section ul li {
    padding: .25rem;
}

section p {
    padding: .5rem;
    line-height: 180%;
}


/* Index only css-.hero */
.hero {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero span {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.15rem;
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    text-align: center;
}



/* Join only css */
.benefits {
    display: block;
}

.join-h2 {
    margin-top: 1.5rem;
}

.benefits h3 {
    max-width: 400px;
    margin-top: 1.5rem;
    margin-bottom: .4rem;
}

.benefits p {
    margin-left: .4rem;
    margin-right: 1rem;
    padding: .25rem;
}

.wf1 fieldset {
    margin: 2rem 0;
    border: 1.5px solid #464f3d;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 legend {
    color: #464f3d;
    font-size: 1.25rem;
    padding: 0 .5rem;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: #464f3d;
    font-size: .9rem;
}

.wf1 div {
    padding-top: 1rem;
    color: #464f3d;
    font-size: .9rem;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 select {
    background-color: #ffffff;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
}

.wf1 input[type="radio"] {
    margin-right: 8px;
}

.wf1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#637057, #464f3d);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 4px #999;
}

.wf1 input:required {
    border-left: solid 6px #464f3d;
}

.wf1 input:required:valid {
    border-left: solid 6px rgb(40, 168, 68);
}



/* Directory only css */
.directory main {
    display: flex;
}

.menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.directory h3 {
    margin: .5rem;
}

.directory a {
    margin-left: .6rem;
    margin-top: .5rem;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.list section img {
    display: none;
}

.card img {
    max-width: 100%;
    height: auto;
}




footer {
    background-color: #646F58;
    color: #fff;
    text-align: center;
    padding: 1rem;
}