* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #f5f5f5;
}

header {
    background-color: #646F58;
    color: #f5f5f5;
}

nav {
    background-color: #2c5f4e;
    width: 100%;
    margin: 0 auto;
}

#myButton::before {
    content: "";
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: .25rem 2vw;
}