* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --back: #eee;
    --back2: #333;
    --foredark: hsla(0, 0%, 10%, 1);
    --forelight: hsla(0, 0%, 100%, 1);
    --border: hsla(0, 0%, 10%, .8);
    --borderlight: hsla(0, 0%, 33%, 1);
    --shadow: hsl(0, 0%, 50%);
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #eee;
}

main {
    padding: 0 2%;
    min-height: 20rem;
}

.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}


