* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --back: #eee;
    --back2: #2c5f4e;
    --back3: white;
    --font: #333;
    --border: hsla(0, 0%, 10%, .8);
    --border2: #999;
    --borderlight: hsla(0, 0%, 33%, 1);
    --shadow: hsl(0, 0%, 50%);
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #eee;
}

main {
    padding: 1rem;
    margin-bottom: 1rem;
}

.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: .5rem;
}

.wf1 legend {
    color: var(--font);
    font-size: 1.5rem;
    padding: 0 .5rem;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: var(--font);
    font-size: 1rem;
}

.wf1 div {
    padding-top: 1rem;
    color: var(--font);
    font-size: 1rem;
}

.wf1 input[type="text"],
.wf1 input[type="password"],
.wf1 input[type="email"], 
.wf1 select
{
    background-color: var(--back3);
    display: block;
    border: solid 1px var(--border2);
    border-radius: 6px;
    padding: .75rem;
    color: var(--font);
    width: 100%;
    max-width: 400px;
}

.wf1 input:required {
    border-left: solid 6px var(--back2);
}

.wf1 input:required:valid {
    border-left: solid 6px rgb(31, 153, 57);
}