@media only screen and (min-width: 48rem) {
    
    /*
    .parent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px
    }
    */
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        margin: 0 1rem;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    .card:nth-child(1) {
        grid-column: span 2;
    }
}